<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body"
       *ngIf="product">
    <div class="wizard">
      <a [routerLink]="['info']" routerLinkActive="active">
        Basic information<span [ngClass]="{'fa fa-exclamation': !isValid('info')}"></span>
      </a>
      <a [routerLink]="['tags']" routerLinkActive="active">
        Search tags<span [ngClass]="{'fa fa-exclamation': !isValid('tags')}"></span>
      </a>
    </div>
    <router-outlet></router-outlet>

    <div class="form-group row mb-2">
      <div class="col-md-6">
        <button (click)="saveProduct()"
                [disabled]="!isValid()"
                class="btn btn-primary mr-3"
                style="width:80px"
                title="Save your entered data"
                type="button"
        >
          Save
        </button>
        <button [routerLink]="['/products']"
                class="btn btn-outline-secondary mr-3"
                style="width:80px"
                title="Cancel your edits"
                type="button">
          Cancel
        </button>
        <button (click)="deleteProduct()"
                class="btn btn-outline-warning"
                style="width:80px"
                title="Delete this product"
                type="button"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger"
     *ngIf="errorMessage">{{errorMessage}}
</div>
